* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: steelblue;
}
.chat {
  background-color: teal;
}
.comment {
}
.comment__header {
  justify-content: space-between;
  display: flex;
}
.comment__user {
  display: flex;
  align-items: center;
}
.comment__avatar {
  width: 30px;
  height: 30px;
}
.comment__info {
}
.comment__buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment__read-more {
  display: flex;
  border: solid;
  padding: 5px;
  line-height: 0;
}
.comment__report {
  padding: 5px;
}
.comment__main {
}
.comment__footer {
  display: flex;
  align-items: center;
}
.comment__response {
  display: flex;
}
.comment__space {
  flex-shrink: 0;
  width: 40px;
  display: flex;
  justify-content: center;
}
.comment__line {
  height: 100%;
  width: 5px;
  background-color: thistle;
}
